Repository clambin/mediamon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, sast, build_amd64, build_arm, swarm

flake8:
  stage: unittest
  image: python:3.7
  before_script:
  - pip install flake8
  script:
  - flake8 --max-line-length 120 *.py src/*.py

pytest:
  stage: unittest
  image: python:3.7
  before_script:
  - pip install pipenv
  - pipenv install --dev
  script:
  - pipenv check
  - cd tests && pipenv run pytest --cov --junitxml=report.xml
  - pipenv run bash <(curl -s https://codecov.io/bash) -s tests
  artifacts:
    reports:
      junit: tests/report.xml

sast:
  stage: unittest
  image: python:3.7
  before_script:
  - pip install bandit
  script:
  - bandit -r src/*.py

build_amd64:
  image: docker:stable
  services:
  - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

build_arm:
  image: docker:stable
  services:
  - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

swarm:
  stage: deploy
  image: alpine
  script:
  - which ssh-agent || ( apk add openssh-client )
  - eval $(ssh-agent -s)
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - ssh-keyscan -p $TARGET_PORT $TARGET_HOST >> ~/.ssh/known_hosts
  ...

Merge remote-tracking branch 'origin/deploy' into deploy
  .gitlab-ci.yml
Due: swarm

Deployment POC
  .gitlab-ci.yml
Due: swarm

make gitlab tasks more generic so we can store them in a template
  .gitlab-ci.yml
  Pipfile.lock
  tests/test_configuration.py
  tests/test_mediamon.py
Due: flake8, pytest, sast, build_amd64, build_arm, swarm

make gitlab tasks more generic so we can store them in a template
  .gitlab-ci.yml
Due: swarm

use gitlab-ci template
  .gitlab-ci.yml
Due: swarm

use gitlab-ci template
  .gitlab-ci.yml
  Dockerfile.arm
Due: build_amd64, build_arm, swarm

v0.2
  src/version.py
Due: flake8, pytest, sast, build_amd64, build_arm

v0.3
  .gitlab-ci.yml
  src/version.py
Due: flake8, pytest, sast, build_amd64, build_arm, swarm

Add parameter DOCKER_SWARM_SERVICE
  .gitlab-ci.yml
Due: swarm

Plex monitoring: first version
  Pipfile
  Pipfile.lock
  src/mediamon.py
  src/plex.py
  tests/samples/plex_session_ios.json
  tests/samples/plex_session_player.json
  tests/samples/plex_session_web.json
Due: flake8, pytest, sast, build_amd64, build_arm

Plex monitoring: first version
  src/configuration.py
  src/mediamon.py
  src/plex.py
  tests/samples/plex_servers.xml
  tests/samples/plex_session_empty.json
  tests/samples/plex_session_ios.json
  tests/samples/plex_session_multiple.json
  tests/samples/plex_session_player.json
  tests/test_mediamon.py
  tests/test_plex.py
Due: flake8, pytest, sast, build_amd64, build_arm

Plex monitoring: first version
  src/mediamon.py
  src/plex.py
  tests/test_mediamon.py
  tests/test_plex.py
Due: flake8, pytest, sast, build_amd64, build_arm

Plex monitoring: first version
  src/plex.py
  tests/test_mediamon.py
  tests/test_plex.py
Due: flake8, pytest, sast, build_amd64, build_arm

Plex monitoring - unit tests / refactoring
  src/mediamon.py
  src/plex.py
  src/transmission.py
  src/xxxarr.py
  tests/samples/plex_servers.xml
  tests/test_mediamon.py
  tests/test_plex.py
  tests/test_transmission.py
  tests/test_xxxarr.py
  tests/utils.py
Due: flake8, pytest, sast, build_amd64, build_arm

Plex monitoring - unit tests / refactoring
  tests/test_plex.py
Due: flake8, pytest, sast

Plex monitoring - unit tests / refactoring
  src/plex.py
  tests/test_plex.py
Due: flake8, pytest, sast, build_amd64, build_arm

Log when connection is re-established
  src/transmission.py
  src/xxxarr.py
Due: flake8, pytest, sast, build_amd64, build_arm

Log when connection is re-established
  src/xxxarr.py
Due: flake8, pytest, sast, build_amd64, build_arm

Log when connection is re-established
  src/transmission.py
Due: flake8, pytest, sast, build_amd64, build_arm

Move services to yml file (so we can put it in docker secrets)
  Pipfile
  Pipfile.lock
  src/configuration.py
  src/mediamon.py
  tests/samples/services.yml
  tests/test_configuration.py
Due: flake8, pytest, sast, build_amd64, build_arm

Move services to yml file (so we can put it in docker secrets)
  tests/test_configuration.py
Due: flake8, pytest, sast

Move services to yml file (so we can put it in docker secrets)
  tests/test_mediamon.py
Due: flake8, pytest, sast

PlexProbe: get servers from https://plex.tv/devices.xml
  src/plex.py
Due: flake8, pytest, sast, build_amd64, build_arm

PlexProbe: get servers from https://plex.tv/devices.xml
  src/plex.py
  tests/samples/plex_devices.xml
  tests/test_configuration.py
  tests/test_plex.py
Due: flake8, pytest, sast, build_amd64, build_arm

PlexProbe: get servers from https://plex.tv/devices.xml
  tests/test_plex.py
Due: flake8, pytest, sast

Remove passwords/apikeys from logfile
  src/configuration.py
  src/plex.py
  tests/test_configuration.py
Due: flake8, pytest, sast, build_amd64, build_arm

Remove passwords/apikeys from logfile
  src/configuration.py
Due: flake8, pytest, sast, build_amd64, build_arm

Remove passwords/apikeys from logfile
  src/configuration.py
  tests/test_configuration.py
Due: flake8, pytest, sast, build_amd64, build_arm

Path conditions:
  flake8: any of: *.py, src/*.py, tests/*.py, Pipfile*
  pytest: any of: *.py, src/*.py, tests/*.py, Pipfile*
  sast: any of: *.py, src/*.py, tests/*.py, Pipfile*
  build_amd64: any of: *.py, src/*.py, Pipfile*, Dockerfile*
  build_arm: any of: *.py, src/*.py, Pipfile*, Dockerfile*
  swarm: any of: .gitlab-ci.yml
